*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{

  --red:#E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F;
  --yellow:#EABD5F;

  --gray-100: #0D0E11;
  --gray-200:#16181D ;
  --gray-300:#292C34 ;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
  --font-family-asap: "Asap", serif;
  --font-family-maven: "Maven Pro", serif;
  --font-family-incon: "Inconsolata", serif;
  --titel-lg:700 56px/120% var(--font-family-asap);
  --titel-md:700 24px/120% var(--font-family-asap);
  --titel-sm:700 16px/120% var(--font-family-asap);
  --subtitle:400 20px/120% var(--font-family-incon);
  --text-md-pro:400 16px/140% var(--font-family-maven);
  --text-sm-pro:400 14px/140% var(--font-family-maven);











}