.info{
  padding-top:100px;
 
}
.intro{
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar{
  position: relative;
  width: max-content;
  height: 112px;
  margin: auto;
}
.avatar > .foto{
  width: 96px;
  height: 96px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  margin: auto;
  border: 2px solid var(--red);
  margin-bottom: 56px;
  
}
.code{
  position: absolute;
  right: 0;
  bottom: 20px;
  
}
.text{
  text-align: center;
  p{
    font: var(--text-sm-pro);
    color: var(--gray-400);
  }
}
.title{
  :nth-child(1){
    font: var(--subtitle);
    color: var(--gray-500);
    strong{
      color: var(--red);
    } 
  }
  :nth-child(2){
    font: var(--titel-lg);
    color: var(--gray-600);
  }
}
.tags{
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  width: 754px;
  gap: 16px;
  
}
.tag{
  display: flex;
  width: 138px;
  align-items: center;
  font: var(--text-md-pro);
 background-color: var(--gray-300);
 border-radius: 40px;
 gap:8px;
 padding-inline: 16px;
 padding-block: 10px;
 color: var(--gray-500);
  
}
.setas{
 display: flex;
 justify-content: center;
}
.setas{
  padding-bottom:142px;
}

